.project-card {
  .description-overlay {
    z-index: 3;
    height: 0;
    background-color: rgba(255, 255, 255, 0.6);
    transition: height 0.2s ease;
  }

  &:hover {
    z-index: 2;
    .description-overlay {
      height: 100%;
    }
    .blur-on-hover {
      filter: blur(20px);
    }
  }
}
