.project-card {
  .card-hover-content {
    transition: all 0.3s ease;

    img {
      transition: filter 0.3s ease;
      position: relative;
    }

    .hover-overlay {
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .hover-btn {
      display: none;
    }
  }

  &:hover {
    z-index: 2;
    .card-hover-content {
      img {
        filter: blur(4px);
      }
      .hover-overlay {
        opacity: 1;

        .hover-btn {
          display: block;
        }
      }
    }
  }
}
.transition-theme {
  transition: background-color 2s ease, color 2s ease;
}
