@import "../../../variables.scss";

.scene {
  position: relative;
  width: 100%;
  min-height: 26em;
  background: linear-gradient($primary, $success);
  overflow: hidden;
}

.road {
  height: 2em;
  background: $dark;
}

.car {
  position: relative;
  width: 16em;
  height: 5em;
  background: $secondary;
  animation: car_road 1s linear infinite;

  .wheel {
    position: absolute;
    bottom: -2em;
    animation: spin 5s linear infinite;

    &.left {
      left: 1em;
    }

    &.right {
      right: 1em;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes car_road {
  0%,
  10%,
  20%,
  30% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(5%);
  }

  70%,
  80%,
  90%,
  100% {
    transform: translateY(0%);
  }
}

// SLIDER

.slider {
  position: relative;
  display: flex;
  width: 200%;
  animation: slidein 15s linear infinite;

  .clouds {
    white-space: nowrap;
    width: 100%;

    .cloud {
      position: relative;
      display: inline-block;
      text-align: center;
      width: calc(100% / 8); // Each cloud takes 1/8th of the `.clouds` width
      padding: 0 1em;

      img {
        display: block;
        margin: 0 auto;
        transition: all 0.1s ease;

        &:hover {
          transition: all 0.1s ease;
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      .cloud-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $dark;
        pointer-events: none;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
