@import "../../../variables.scss";

.scene {
  position: relative;
  width: 100%;
  min-height: 26em;
  background: linear-gradient($primary, $secondary);
  overflow: hidden;
}

.road {
  height: 2em;
  background: $dark;
}

.car {
  position: relative;
  width: 16em;
  height: 5em;
  background: $success;

  .wheel {
    position: absolute;
    bottom: -2em;
    animation: spin 3s linear infinite;

    &.left {
      left: 1em;
    }

    &.right {
      right: 1em;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// SLIDER

.slider {
  position: relative;
  display: flex;
  width: 200%;
  animation: slidein 15s linear infinite;

  .clouds {
    white-space: nowrap;
    width: 100%;

    @media (max-width: 1650px) {
      .cloud {
        width: calc(200% / 8);
        padding: 0 4em;
      }
    }
    @media (min-width: 1651px) {
      .cloud {
        width: calc(100% / 8);
        padding: 0 6em;
      }
    }

    .cloud {
      position: relative;
      display: inline-block;
      text-align: center;

      img {
        display: block;
        margin: 0 auto;
      }

      .cloud-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        color: $dark;
        pointer-events: none;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
