@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Fira Code", monospace;
}

html {
  scroll-behavior: smooth;
  background-color: #efefef;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc300;
  border-radius: 2em;
  &:hover {
    background-color: #8e6d00;
    cursor: pointer;
  }
}

::-webkit-scrollbar-track {
  background: #efefef;
}

p {
  font-size: 14pt;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.navbar-toggler {
  background-color: #f87537 !important;
}

.reveal {
  position: relative;
  opacity: 0;
  transition: all 2s ease;

  &.active {
    opacity: 1;
  }
}

.card {
  border: none !important;
}

.rounded-big .max-h-2em {
  max-height: 2em;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-animation 0.8s linear infinite;
}

.scale-1 {
  transition: all 0.2s ease !important;
  &:hover {
    transition: all 0.2s ease;

    transform: scale(1.1);
  }
}

.img-shadow {
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.15));
}

.show-cursor {
  &:hover {
    cursor: pointer;
  }
}

.non_selectable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
