@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import "./custom.scss";
* {
  font-family: "Fira Code", monospace;
}

html {
  scroll-behavior: smooth;
  //background-color: #efefef;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc300;
  border-radius: 2em;
  &:hover {
    background-color: #8e6d00;
    cursor: pointer;
  }
}

p {
  font-size: 14pt;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.navbar-toggler {
  background-color: #f87537 !important;
}

.reveal {
  position: relative;
  opacity: 0;
  transition: all 2s ease;

  &.active {
    opacity: 1;
  }
}

.card {
  border: none !important;
}

.rounded-big .max-h-2em {
  max-height: 2em;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-animation 0.8s linear infinite;
}

.scale-1 {
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
  &:hover {
    transform: scale(1.1);
  }
}

.img-shadow {
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.15));
}

.show-cursor {
  &:hover {
    cursor: pointer;
  }
}

.non_selectable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.carousel-control-prev,
.carousel-control-next {
  width: 6em !important;
}

.carousel-control-prev {
  border-radius: 2rem 0 0 2rem;
  &:hover {
    background: rgb(23, 27, 39) !important;
    background: linear-gradient(
      90deg,
      rgba(23, 27, 39, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ) !important;
  }
}

.carousel-control-next {
  border-radius: 0 2rem 2rem 0;
  &:hover {
    background: rgb(23, 27, 39) !important;
    background: linear-gradient(
      270deg,
      rgba(23, 27, 39, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ) !important;
  }
}
