$primary: #ffc300;
$secondary: #fc9c1c;
$success: #f87537;
$dark: #efefef;
$light: #171b27;
$body-bg: #171b27;
$body-color: #efefef;
$box-shadow: 0 0.5rem 1rem rgba(#efefef, 0.15);

$scrollbar-track-bg: #171b27;
