$primary: #ffc300;
$secondary: #fc9c1c;
$success: #f87537;
$dark: #171b27;
$black: #171b27;
$light: #efefef;
$body-bg: #efefef;
$body-color: #171b27;
$box-shadow: 0 0.5rem 1rem rgba($dark, 0.15);

$border-radius-lg: 2em;
$dropdown-bg: #fc9c1c;
$scrollbar-track-bg: #efefef;
