body{
    grid-template-rows: auto auto;
}

img{
    width: 100%;
}

h4{
    margin-bottom: 1rem;
}

.projectSections{
    grid-row: 2;
    text-align: center;
}

.projectSections:hover{
    transition: 0.2s;
    box-shadow: 0px 0px 0.5em 0px #FFC300;
}

article{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    margin: 1rem;
}


#project1Section{
    grid-column: 1/5;
    background-color: #FFC300;
}

#project2Section{
    grid-column: 5/9;
    background-color: #F87537;
}

#project3Section{
    grid-column: 9/13;
    background-color: #FFC300;
}


